*{
    margin: 0px;
    padding: 0px;
}

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: beige;
    border-bottom: 3px dashed black;
    
}

nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;

}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;

}
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: green;
    padding: 40px;
}
aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    background: orange;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
footer{
    background: black;
    color: beige;
    text-align: center;
    height: 50px;
    line-height: 50px;


}